@charset "UTF-8";

.container {
  width: 1170px;
  height: 500px;
  background-color: chartreuse;
}

.box1 {
  width: 100px;
  height: auto;
  background-color: blue;
}
.box2 {
  width: 300px;
  height: auto;
  background-color: #f00;

}

