* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 550px;
}

.header-top {
  height: 50px;
  background-color: red;
}

.header-bottom {
  height: 500px;
  background-color: orange;
}
.main {
  background-color: palegreen;
  width: 960px;
  height: 1140px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/*.main-back*/

.main-center {
  width: 500px;
  background-color: limegreen;
}
.footer {
  height: 100px;
  background-color: blue;
}
